.pagination {
    list-style: none;
    display: flex;
    &__item {
        margin-right: 10px;
    }
    &__link {
        color: $colorAzul;
        border: none;
        font-size: 19px;
        outline: none;
        background-color: transparent;
        padding: 8px 15px;
        font-weight: 600;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
        }
        &:focus{
            background-color: $bgTurquesa;
        }
    }
}